{% load static  %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>

<audio class="audio-player" src="{% static 'music/interstellarbgm.mp3' %}" autoplay loop></audio>
  
     
    <div class="page-bg"></div>

        <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
    </div>

    <div class="page-wrapper"> 
        <h4>ASTRO LENSE</h4>
        <a href="account/"><button class="button-85" role="button">Explore the space</button></a>
    </div>
</body>
</html>